<mat-card class="custom-card">
  <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
    <div class="form-content-wrapper">
      <mat-form-field class="contact-input">
        <input matInput
               placeholder="Enter your name..."
               formControlName="username"
               [(ngModel)]="enteredUsername"
               (input)="checkTextareaDisabledState()">
      </mat-form-field>
      <mat-form-field class="contact-input">
        <textarea matInput
                  placeholder="Type your message here..."
                  formControlName="message">
        </textarea>
      </mat-form-field>
      <!-- <button (click)="increment()">+</button>
      <input matInput
             type="text"
             formControlName="importance">
      <button (click)="decrement()">-</button> -->
      <!-- <app-importance formControlName="importance"></app-importance> -->
      <button mat-button class="btn" type="submit">SEND</button>
    </div>

  </form>

  <pre>{{ form.value | json }}</pre>

</mat-card>
