<mat-card class="custom-card">
  <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
    <div class="form-content-wrapper">
      <mat-form-field class="contact-input">
        <input matInput
               placeholder="Enter your name..."
               formControlName="username"
               [(ngModel)]="enteredUsername"
               (input)="checkTextareaDisabledState()">
      </mat-form-field>
      <mat-form-field class="contact-input">
        <textarea matInput
                  placeholder="Type your message here..."
                  formControlName="message">
        </textarea>
      </mat-form-field>
      <button mat-button
              type="button"
              class="counter-btn"
              (click)="increase()"
              id="plus-btn">
              +
      </button>
      <input type="text" formControlName="importance" matInput class="counter">
      <button mat-button
              type="button"
              class="counter-btn"
              (click)="decrease()"
              id="minus-btn">
              -
      </button>
      <button mat-button class="btn" type="submit" [disabled]="!contactForm.valid">SEND</button>
    </div>
  </form>

  <!-- <span *ngIf="!contactForm.valid && contactForm.get('message').touched">The form is not valid</span> -->
  <!-- <span *ngIf="contactForm.get('importance').errors['isEvenForbidden']">The counter can't be even</span> -->

</mat-card>
