.contact-input {
  width: 100%;
}

.form-content-wrapper {
  width: 70%;
  margin: 0 auto;
}

.btn {
  background-color: #96beff;
}

.counter-btn {
  background-color: #c9cdd3;
  min-width: 40px;
}

.counter {
  display: inline;
  width: 20px;
  margin: 0 0 0 10px;
}

button[type='submit'] {
  display: block;
  margin-top: 15px;
}
